* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    background-color: white;
}

h1,
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 42px;
}

ul {
    list-style: none;
}

a {
    background-color: rgb(43, 67, 67);
    text-decoration: none;
    color: white;
}

img {
    display: block;
    width: 90%;
}

/* nav */

.nav {
    display: flex;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(103, 63, 63);
    z-index: 10;
}

.nav-list {
    display: flex;
    gap: 10px;
    margin-right: 20px;
}

.nav-list {
    margin: 0 1rem;
}

.nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
    margin: 2rem;
}

.nav-list a:hover {
    background: black;
}



.welcome-section {
    padding: 40vh 100px;
    margin: auto;
    background-color: rgb(128, 55, 245);

}

.welcome-section>p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: rgb(rgb(197, 31, 31), rgb(41, 112, 41), rgb(103, 103, 191));
}

#image {
    float: right;
    height: 250px;
    width: 300px;
}

.projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: rgb(125, 135, 228);
}

.projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid whitesmoke;
}

.projects-grid {
    display: block;
    width: 85%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.project {
    background: gray;
    box-shadow: 1px 1px 2px rgba(132, 68, 68, 0.5);
    border-radius: 2px;
}

.project:hover {
    color: #ff7f50;
}

.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;

}

.project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}


.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 5 rem;
    padding: 0 2rem;
    background: rgb(100, 46, 98);
}

.contact-section-header>h2 {
    font-size: 6rem;
    font-weight: bold;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    gap: 5px;
}

.contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #823838;
    transition: transform 0.3s ease-out;
}

.contact-details:hover {
    transform: translateY(-8px);
}